<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Feed</title>
        <th:block th:include="head" />
    </head>
    <body>

        <div th:include="navbar"></div>

        <div th:include="logbar"></div>

        <div class="container">

            <!-- Submit post -->
            <form method="post" action="share">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Quoi de neuf ?" name="content" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Poster</button>
                    </span>
                </div>
            </form>

            <!-- Display all post -->

                <div class="panel panel-default" th:each="post :${posts}">

                    <div class="panel-heading"><th:block th:text="${post.user.name}" /> &#xb7; <a th:href="@{/post/{id}(id=${post.id})}">Voir en détail</a> </div>
                    <div class="panel-body">
                        <th:block th:text="${post.content}" />
                    </div>

                </div>

        </div>

        <div th:include="footer"></div>
    </body>
</html>
