<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Feed</title>
        <th:block th:include="head" />
    </head>
    <body>

    <div th:include="navbar"></div>

    <div th:include="logbar"></div>

    <div class="container">

        <!-- The post -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Rédigé par <em><th:block th:text="${post.user.name}" /></em></span>

                <span class="pull-right">
                    <span class="label label-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <th:block th:text="${comments.size()}" /></span>
                    <span class="label label-danger"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <th:block th:text="${hearts.size()}" /></span>
                </span>

            </div>
            <div class="panel-body">
                <th:block th:text="${post.content}" />
            </div>
        </div>

        <!-- The comments -->
        <ul class="list-group">
            <li class="list-group-item" th:each="comment :${comments}"><th:block th:text="${comment.content}" /> &mdash; <em><th:block th:text="${comment.user.name}" /></em></li>
        </ul>

        <!-- Comment form -->
        <div class="row">
            <div class="col-lg-1">

                <form method="post" th:action="@{/heart/{id}(id=${post.id})}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </button>

                </form>
            </div>
            <div class="col-lg-11">

                <form method="post" th:action="@{/comment/{id}(id=${post.id})}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="input-group input-group">
                        <input type="text" class="form-control" placeholder="Quoi de plus ?" name="content" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Commenter</button>
                        </span>
                    </div>
                </form>

            </div>
        </div>


    </div>

    <div th:include="footer"></div>
    </body>
</html>
